dj-database-url==0.5.0
dj-static==0.0.6
Django==2.1
django-bootstrap3==10.0.1
gunicorn==19.9.0
pbr==3.1.1
pkg-resources==0.0.0
pytz==2018.5
six==1.11.0
static3==0.7.0
stevedore==1.28.0
virtualenv==15.1.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.7.2
psycopg2>=2.6.1
